
= render 'form'

-# link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' } %> |
%br/
=# link_to 'Delete Idea', ideas_path, method: :delete, :class => "btn btn-block"
= link_to 'Cancel', ideas_path, :class => "btn btn-block"