

%ol.breadcrumb
  - if @condition
    %li
      %a{:href=>overview_path} All Ideas
    %li.active
      = truncate(@condition)
  - else
    %li
      %a{:href=>overview_path} All Ideas
    %li.active
      %a{:href=>by_condition_path} Choose a Condition...

= render "/users/role_nav"

%br/

- @ideas.first(10).each do |idea|
  = render idea
  %hr/




%br/
%br/

.row
  .col-md-12
    %a.btn.btn-primary.btn-block{:href => new_idea_path} I want to Submit an Idea