
-#    @patient_count = Role.find_by_name(:patient).users.with_tag(@condition).count
-#    @researcher_count = Role.find_by_name(:researcher).users.count
-#    @stakeholder_count = Role.find_by_name(:stakeholder).users.count
.row
  - [:patient,:researcher,:stakeholder].each do |role|
    .col-xs-4
      %a.btn.btn-default.btn-block{:href=> users_path(role: role, condition: @condition)}
        = role.capitalize
        %br/
        .badge
          = Role.find_by_name(role).users.tagged_with(@condition).count if @condition
          = Role.find_by_name(role).users.count if !@condition
