- @user = user
.media
  %img.media-object.img-circle.pull-left{alt: @user.name, src: @user.photo_url, width: "60px"}/
  .media-body
    %h4.media-heading= @user.name
    - if @user.roles.any?
      %p
        - @user.roles.each do |tag|
          .label.label-info= tag.name.capitalize
    = render :partial => "tags/tag_list", :locals => {taggable: user}
