.row
  .col-md-12
    .list-group
      -@tags.each do |tag|
        %a.list-group-item{:href=> tagged_path(tag: tag.name)}
          = tag.name
          .badge= tag.count

    %center
      The above are the conditions users have shown interest in.
    %br/

    %a.btn.btn-primary.btn-md.btn-block{:href => new_user_registration_path}
      Your Condition Not Shown? Join!
      %i.fa.fa-chevron-right