%a.no-link-styling{:href => idea_show_path}
  .row
    .col-md-12
      %div{:style => "height: 200px; background-color: gray;"}

      %h3 Question
      %p ADHD I want to know if this is okay?

  .row
    .col-md-12
      %h5 35 Followers
%hr/
