%a.no-link-styling{:href => idea_show_path}
  .row
    .col-md-12
      %iframe{allowfullscreen: "", height: "220px;", width: "100%", src: "//www.youtube.com/embed/D136vwWgnp8?rel=0&showinfo=0&autohide=1"}


      %h4 Is cycling on and off adderall a good treatment strategy?

  .row
    .col-md-12
      %h5
        %i.fa.fa-thumbs-o-up
        35 Followers


