.row
  .col-md-12
    %iframe{allowfullscreen: "", height: "220px;", width: "100%", src: "//www.youtube.com/embed/D136vwWgnp8?rel=0&showinfo=0&autohide=1"}


    %h4 Is cycling on and off adderall a good treatment strategy?

    %p
      Proposed by
      %strong Ben G
.row
  .col-md-12
    %h4
      %i.fa.fa-thumbs-o-up
      302 Followers
      %a.btn.btn-default Follow

%hr/

.row
  .col-md-12
    .list-group.list-group-default
      .list-group-item
        Comments
        %span.badge 6
.row
  .col-xs-4
    %a.btn.btn-primary.btn-block Facebook
  .col-xs-4
    %a.btn.btn-info.btn-block Twitter
  .col-xs-4
    %a.btn.btn-warning.btn-block Other


.row
  .col-md-12
    %h3.text-center
      %i.fa.fa-graduation-cap.text-h2
      Studies Proposed

