
.row
  .col-md-12
    %a.btn.btn-default.btn-block{:href => ""} Choose Tags (Condition/Treatment)

- 3.times do
  = render "idea_item"

.row
  .col-md-12
    %a.btn.btn-primary.btn-block{:href => idea_new_path} I want to Submit an Idea