/ .row.visible-sm.visible-xs
/   = image_tag "globe.png", :class => "col-xs-12"

.row
  .col-md-12

    .text-center
      %em
        Your doorway into the world of Patient Powered Research
      %hr/


    %p
      %strong Patient-Powered Research
      is a new concept. It is patients and their health data and insights driving the medical research process. This website is a hub for people (patients, researchers, and other health professionals) who want to perform patient-powered research. Use this website to connect with them around ideas for research.
    %p
      Specify the condition(s) you care about and you'll find others who care. Propose an idea for research you want done, and have people gather around and build that idea up until it blossoms into an full-blown research study.

    %hr/

    %h3.text-center
      We Are...

    = render "/users/role_nav"

    %br/

.row
  .col-md-12
    .list-group
      / %a.list-group-item.list-group-item-default{:href=> ""}
      /   %span.badge= User.count
      /   People
      %a.list-group-item.list-group-item-default{:href=> ideas_path}
        %span.badge= Idea.count
        Ideas
      %a.list-group-item.list-group-item-default{:href=> by_condition_path}
        %span.badge=User.tag_counts_on(:tags).count
        Conditions

.row
  .col-md-12
    %a.btn.btn-success.btn-md.btn-block{:href => by_condition_path}
      What Condition Do You Care About?
      %i.fa.fa-chevron-right

    %hr/


.row
  .col-md-12

    %center
      %h4 Watch the Video Tour...
    %iframe{allowfullscreen: "", height: "220px;", width: "100%", src: "#{@tour_url}&showinfo=0&autohide=1", :frameborder => 0}

    %hr/



.row
  .col-md-12
    %h3.text-center
      / %i.fa.fa-lightbulb-o.text-h2
      Top Ideas

    %ul.list-group
      -# Idea.all.sort_by(&:followers_count).last(4).reverse.each do |idea|
      - Idea.video.sort_by(&:followers_count).last(4).reverse.each do |idea|
        %li.list-group-item
          = render idea
      %li.list-group-item
        %a.btn.btn-info.btn-md.btn-block{:href => ideas_path}
          See All Ideas...
          %i.fa.fa-chevron-right


    / %p.text-center
    /   %small
    /     %a{:href => stats_path} See Network Stats

    %hr/


.row
  .col-md-12

    %a.btn.btn-default.btn-md.btn-block{:href => new_idea_path}
      Submit Your Idea!
      %i.fa.fa-chevron-right

    %a.btn.btn-primary.btn-md.btn-block{:href => new_idea_path}
      Join the Community!
      %i.fa.fa-chevron-right


