
.text-center
  %iframe{allowfullscreen: "", height: "420", src: "http://www.youtube.com/embed/CV74UqCkLBY?rel=0&showinfo=0&autohide=1", :frameborder => 0}
  %h4 A Walkthrough of PatientPowered
  %small
    an open source, free-to-use, modify, deploy,
    and redistribute, creative commons licensed technology for pcori
  %p
    %a{:href => "patientpowered.us"} patientpowered.us
  %small a place for patients, researchers, and stakeholders to connect