
.text-center
  %h3 A Demo of the Software
  %p
    %a{:href=>root_path} Click here to use the software itself
  %iframe{allowfullscreen: "", height: "420", src: "http://www.youtube.com/embed/CV74UqCkLBY?rel=0&showinfo=0", :frameborder => 0}
  %h4 A Walkthrough of PatientPowered
  %small
    an open source, free-to-use, modify, deploy,
    and redistribute, creative commons licensed technology for pcori
  %p
    %a{:href => "patientpowered.us"} patientpowered.us
  %small a place for patients, researchers, and stakeholders to connect



%h3 My Slides
%p My slides are in video format, below. Please watch the video to see:
.alert.alert-info.alert-sm
  Click the gear icon on the bottom of the video to increase it's quality to HD! Full size the video. Enjoy
%iframe{allowfullscreen: "", width: "100%", height: "400", src: "http://www.youtube.com/embed/Bykr8Sc5MoQ?rel=0&showinfo=0", :frameborder => 0}



%h3 Summary of Slides (In Text)
%h4 Team
%h4 &nbsp;&nbsp;&nbsp;&nbsp; Sean Ahrens
%ul

  %li Patient with Crohn's Disease for 15 years
  %li
    Founder of
    %a{:href => "crohology.com"} Crohnology.com
    a patient-to-patient information sharing network of >6,000 patients with Crohn's Disease and Ulcerative Colitis
  %li
    Co-PI on the CCFA (Crohn's & Colitis Foundation of America) Patient-Powered Research Network

  %li
    Founder of
    %a{:href => "https://github.com/openpprn/opn"} OpenPPRN
    an open-source solution for PCORI-funded (or anyone!) to build web-based PPRNs.
  %li Software Engineer, UI/UX Designer, and Patient Advocate
  %li
    Personal website:
    %a{:href => "seanahrens.org"} seanahrens.org
%h4 Co-Designed / Consulted with...
%ul
  %li The Sleep Apnea PPRN
  %li The Crohn's & Colitis PPRN
  %li Adam Admur, Patient with Sleep Apnea (SAPCON)
  %li Justine Admur, Patient with Sleep Apnea
  %li Will Headaphol, Patient with Sleep Apnea (MyApnea.org)
  %li Liam, Patient with Crohn's
  %li Ben, Patient with ADHD
  %li Piotr Mankowski, Health IT Developer
  %li Mike Kappelman, MD Physician & Researcher

%hr/