.row
  .col-md-12
    %div{:style => "height: 200px; background-color: gray;"}
.row
  .col-md-12
    %h3 Study Question
    %p Lorem ipsum dolor sit color amet, asdsakjl asdklhasdkasldj asdas dashdlkasd asdlkhas dad asdhlaksdas dasdklhsad sadasdkh asd
    %hr/


.row
  .col-md-12
    %h4
      %a{:href => idea_show_path} Inspired by Idea >

    %hr/

.row
  .col-md-12
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar", style: "width: 40%"}
    %h5 40/100 Patients Enrolled
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar", style: "width: 40%"}
    %h5 $10,000/$2,000,000 Funds Raised
    %hr/

.row
  .col-md-12
    %h4 302 Followers
    %hr/


.row
  .col-md-12
    .media
      %a.pull-left{href: "#"}
        %img.media-object.img-circle{alt: @author.social_profile.name, src: @author.social_profile.photo.url}/
      .media-body
        %h4.media-heading Team
        %strong= @author.social_profile.name
        , Will Headaphol, Adam Admur, Piotr Mankowski
%hr/

.row
  .col-md-12
    .list-group.list-group-default
      .list-group-item
        Comments
        %span.badge 6
      .list-group-item
        Updates
        %span.badge 2
.row
  .col-xs-4
    %a.btn.btn-primary.btn-block Facebook
  .col-xs-4
    %a.btn.btn-info.btn-block Twitter
  .col-xs-4
    %a.btn.btn-warning.btn-block Other

%hr/
.row
  .col-md-12
    %a.btn.btn-primary.btn-block I want to participate
    %a.btn.btn-success.btn-block I want to contribute $


