
- 3.times do
  = render "study_item"

.row
  .col-md-12
    %a.btn.btn-primary.btn-block{:href => idea_index_path(:notice => "First, browse through ideas to see if your idea is already proposed. If not, submit a new idea for discussion.")} I want to Submit an Idea