.text-center
  .text-h5 Video Tour of Patient Powered
  = link_to "Back", root_path
  %br/
  %br/
  %iframe{allowfullscreen: "", height: "420", src: "http://www.youtube.com/embed/CV74UqCkLBY?rel=0&showinfo=0", :frameborder => 0}
