%br/

.hidden-xs
  %hr/
  .col-md-12.small
    Except where otherwise noted, content on this site is licensed under a
    %a{href: "http://creativecommons.org/licenses/by/4.0/", rel: "license"} Creative Commons Attribution 4.0 International license.
    %br/
    / %a{href: "http://creativecommons.org/licenses/by/4.0/", rel: "license"}
    /   %img{alt: "Creative Commons License", src: "https://i.creativecommons.org/l/by/4.0/88x31.png", style: "border-width:0"}/
    %br/