.row
  .col-md-12
    %hr/
    %small

      PatientPowered.us is open-source, open-data, non-commercial, creative-commons licensed public good. This website is not a business. User-generated content on this site is licensed under a
      %a{href: "http://creativecommons.org/licenses/by/4.0/", rel: "license"} Creative Commons
      so the most people do the most good with it. Want to contribute? Email Sean via
      = link_to "seanahrens.org/contact", "http://seanahrens.org/contact"
      %br/


      / <script type="text/javascript">
      / jQuery(".tm-input").tagManager();
      / </script>

      / <input type="text" name="tags" placeholder="Tags" class="tm-input"/>
%br/





<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-2649694-11', 'auto');
ga('send', 'pageview');
</script>